@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

body {
  font-family: 'Raleway', sans-serif;
}

.Select-control>div:first-child {
  border: none;
  background: none;
}

.Select-control div {
  font-size: 12px;
}